@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (dayAnime == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var anime in dayAnime)
            {
                <tr>
                   
                    <td>@anime.Title</td>
                  
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MondayAnime[]? dayAnime;

    protected override async Task OnInitializedAsync()
    {
        dayAnime = await Http.GetFromJsonAsync<MondayAnime[]>("https://api.jikan.moe/v4/schedules/monday");
    }

    public class MondayAnime
    {

     
        
        public int Title { get; set; }

     
    }
}
